@import 'common/styles/shared.module';

.Form {
  @extend %SharedFlexContainer;
  flex-direction: column;

  max-width: 480px;

  background-color: $theme-colors-light-bg-second;
  border-radius: 4px;
}

.Label {
  @extend %SharedLabel;
}

.Amount,
.Input {
  @extend %SharedInput;
}

.SubmitBtn {
  @extend %SharedButton;
}
