@import 'styles/variables';

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(16px, 3vw, 24px);

  max-width: 480px;
  padding: 20px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 4px;
}

.Label {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.Input {
  font-size: clamp(1.5rem, 3vw, 1.7rem);
  border-radius: 4px;
}

.Amount {
  font-size: clamp(1.5rem, 3vw, 1.7rem);
}

.SubmitBtn {
  padding: 12px 16px;

  font-size: clamp(1.5rem, 3vw, 1.7rem);
  color: $white;

  background-color: darken($accent, 12);
  border: none;
  border-radius: 4px;

  transition: $time $cubic;
  transition-property: color, background-color, box-shadow, transform;
  word-break: break-all;

  // prettier-ignore
  box-shadow:
  1px 2px 4px 1px rgba($primary-text, 0.14),
  1px 2px 6px 3px rgba($primary-text, 0.12),
  1px 2px 12px 4px rgba($primary-text, 0.08);

  &:hover,
  &:focus {
    background-color: $accent;
    transform: scale(1.01);
  }
}
