// theme
$accent: #2196f3;
$primary-text: #212121;
$secondary-text: #757575;
$white: #fff;
$light-grey: #eee;

// breakpoints
$bp-mobile-xl: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;

// transition
$time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
