@import 'styles/variables';

.App {
  grid-template-columns: 1fr;
  grid-gap: 16px;
  display: grid;
  height: 100%;
  padding-bottom: 64px;
}

.Section {
  padding: 32px 0;
}

.Container {
  max-width: $bp-mobile-xl;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $bp-tablet) {
    max-width: $bp-tablet;
  }

  @media screen and (min-width: $bp-desktop) {
    max-width: $bp-desktop;
  }
}

.H1 {
  text-align: center;
}
