@import-normalize;

/* Styles for Task 2 - vanilla JS - input mask function */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 480px;
  padding: 64px 20px;
  margin: 0 auto;

  border-radius: 4px;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 4px;
}

.form__input {
  padding: 4px;

  font-family: inherit;
  font-size: inherit;

  border-radius: 4px;
}
